* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.hero {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #5352ed, #dfe4ea);
}

.logo {
  max-height: 75%;
  width: auto;
}

.title {
  margin-right: 20px;
  width: min-content;
  font-size: 64px;
  font-family: 'Bangers', cursive;
  color: #eccc68;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.categoria {
  padding-left: 5%;
  padding-right: 5%;
}

.gradient {
  padding: 10px 5%;
  display: block;
  background: linear-gradient(to bottom, #dfe4ea, #ffffff);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  font-size: 18px;
  color: #2f3542;
}

.gradient p {
  padding: 18px 0;
}

.texto-del-cuerpo {
  padding: 10px 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 18px;
  color: #2f3542;
}

.texto-del-cuerpo strong {
  color: #ff4757;
}

.button-wrapper {
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 2%;
  margin: 1em 0;
  width: 65%;
  height: 85px;
  max-width: 360px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  background-color: #7bed9f;
  border-radius: 15px;
  box-shadow: 3px 3px 0 #2ed573;

  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

.button:link,
.button:visited {
  text-decoration: none;
  color: #2f3542;
}

.button:hover,
.button:visited:hover {
  background-color: #9eeeb7;
  box-shadow: 3px 3px 0 #67d896;

  text-decoration: none;
  color: #2f3542;
}

.button:active {
  text-decoration: none;
  color: #2f3542;
  box-shadow: 1px 1px 0 #2ed573;
}

.button-image {
  max-width: 70px;
  max-height: 70px;
}

.contenedor-centrado {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.imagen-del-cuerpo {
  max-width: 120px;
  max-height: 120px;
}

.pie-de-pagina {
  margin-top: 1em;
  text-align: center;
  font-size: 14px;
  border-top: 2px solid #ced6e0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #57606f;
}

.pie-de-pagina > p {
  margin: 1.5em 0;
}

.pie-de-pagina strong {
  color: #ff4757;
}

.saludo {
  font-weight: 400;
  text-align: center;
}

.pantalla-grande {
  display: None;
}

.footer-hero {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  margin-right: 10px;
  width: 140px;
  font-family: 'Bangers', cursive;
  font-size: 22px;
  text-align: right;
  color: #eccc68;
}

.footer-image {
  width: 80px;
  clip-path: polygon(65% 0%, 90% 50%, 65% 100%, 0% 100%, 25% 50%, 0% 0%);
}

@keyframes yingYang {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.animacion-yingyang {
  animation: yingYang 6.44s linear 0.1s infinite;
  animation-play-state: paused;
}

.animacion-yingyang:hover {
  animation-play-state: running;
}

@media only screen and (min-width: 540px) {
  .hero {
    height: 240px;
  }
  .title {
    width: auto;
    font-size: 84px;
    padding-top: 30px;
  }
  .logo{
    margin-top: 30px;
  }
  .gradient,
  .texto-del-cuerpo {
    font-size: 20px;
  }
  .button {
    padding: 10px;
    height: 110px;
    width: 55%;

    font-size: 32px;
  }
  .pie-de-pagina {
    font-size: 16px;
  }
  .button-image {
    max-width: 100px;
    max-height: 100px;
  }
  .imagen-del-cuerpo {
    max-width: 170px;
    max-height: 170px;
  }
  .contenedor-centrado {
    margin-bottom: 20px;
  }
  .footer-title {
    width: 160px;
    font-size: 32px;
  }
  .footer-image {
    width: 120px;
  }
}

@media only screen and (min-width: 1025px) {
  .title {
    font-size: 124px;
    padding-top: 60px;
  }
  .logo{
    margin-top: 60px;
    max-height: 140px;
  }
  .pie-de-pagina {
    font-size: 16px;
  }
  .gradient,
  .texto-del-cuerpo {
    font-size: 22px;
  }
  .general-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .hero,
  .gradient,
  .categoria {
    padding-left: 15%;
    padding-right: 15%;
  }
  .gradient,
  .texto-del-cuerpo {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .button {
    font-size: 34px;
    width: 90%;
    height: 120px;
  }
  .pie-de-pagina {
    font-size: 12px;
  }
  .button-image {
    max-width: 100px;
    max-height: 100px;
  }
  .imagen-del-cuerpo {
    max-width: 180px;
    max-height: 180px;
  }
  .pie-de-pagina {
    font-size: 16px;
    border-top: 2px solid #ced6e0;
  }
  .pantalla-grande {
    display: flex;
  }
  .pantalla-pequeña {
    display: None;
  }
  .buttons-wrapper-bigscreen {
    display: flex;
    justify-content: space-evenly;
  }
  .footer-title {
    width: 260px;
    font-size: 48px;
  }
  .footer-image {
    width: 140px;
  }
}
