.hero {
  height: 150px;
}

.title {
  padding-top: 20px;
  font-size: 46px;
}

.logo {
  margin-top: 0;
}

.navegador {
  height: 50px;
  padding: 0 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: #2f3542;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.navegador li {
  width: auto;
}

.navegador a {
  text-decoration: none;
}

.page h2,
.page h3 {
  font-family: 'Roboto', sans-serif;
}

.otras-paginas:link,
.otras-paginas:visited,
.otras-paginas:active,
.otras-paginas:visited:active {
  color: #ced6e0;
}

.otras-paginas:hover,
.otras-paginas:visited:hover {
  color: #ffffff;
}

.pagina-actual:link,
.pagina-actual:visited,
.pagina-actual:active,
.pagina-actual:visited:active,
.gradient {
  color: #ffa502;
}

.pagina-actual:hover,
.pagina-actual:visited:hover {
  color: #eccc68;
}

.gradient {
  height: 300px;
  padding: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fondo-historico {
  background: url(/images/river_small.jpg) no-repeat center;
}

.fondo-sobrenatural {
  background: url(/images/fumando_small.jpg) no-repeat center;
}

.cat-title {
  text-align: center;
  margin-top: 150px;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: normal;
}

.estanteria {
  padding: 0 0.5em;
  margin: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
}

.estanteria h2 {
  margin: 1em;
  text-align: center;
  font-size: 24px;
  color: #2f3542;
}

.estanteria strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.libro {
  margin: 10px 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.libro h3 {
  margin: 0.5em;
  text-align: center;
  font-size: 24px;
  color: #57606f;
}

.portada {
  max-width: 300px;
  width: 70%;
}

.informacion-del-libro {
  width: 90%;
  height: auto;
  margin-top: 4em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  color: #2f3542;

  border-bottom: 2px solid #57606f;
}

.informacion-del-libro li {
  width: 40%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  list-style-type: none;
}

.informacion-del-libro li a {
  padding: 5px 10px 0px 10px;
}

.informacion-del-libro li a:link,
.informacion-del-libro li a:visited,
.informacion-del-libro li a:active,
.informacion-del-libro li a:hover,
.informacion-del-libro li a:visited:hover,
.informacion-del-libro li a:visited:active {
  text-decoration: none;
  color: inherit;
}

.titulo-mostrado:hover,
.titulo-mostrado:visited:hover {
  cursor: text;
}

.titulo-mostrado {
  background-color: #a4b0be;
  background: linear-gradient(#ced6e0, #dfe4ea);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top: 2px solid #57606f;
}

.informacion {
  width: 80%;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 16px;
  color: #2f3542;
  list-style-type: square;
}

.informacion strong {
  color: #ff4757;
}

.oculto {
  display: none;
}

.otras-obras {
  font-weight: 700;
  margin-bottom: 30px;
}

.otras-obras a:link,
.otras-obras a:visited,
.otras-obras a:active,
.otras-obras a:visited:active {
  font-weight: 400;
  color: #5352ed;
  text-decoration: none;
}

.otras-obras a:hover,
.otras-obras a:visited:hover {
  color: #3742fa;
}


@media only screen and (min-width: 540px) {
  .hero {
    height: 160px;
  }
  .title {
    font-size: 94px;
  }
  .navegador {
    padding: 0 14%;
    font-size: 24px;
  }
  .gradient {
    height: 500px;
    padding: 0;
    margin-bottom: 50px;
  }
  .fondo-historico {
    background: url(/images/rain_big.jpg) no-repeat center center;
  }
  .fondo-sobrenatural {
    background: url(/images/calavera_big.jpg) no-repeat center;
  }
  .cat-title {
    font-size: 64px;
    margin-top: 0;
  }
  .portada {
    max-width: 400px;
  }
  .estanteria h2 {
    font-size: 30px;
  }
  .informacion-del-libro {
    width: 80%;
  }
  .informacion-del-libro li {
    font-size: 24px;
  }
  .informacion {
    font-size: 18px;
  }
  #CaracteristicasTexto {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 1025px) {
  .hero {
    height: 180px;
  }
  .logo {
    padding: 0;
  }
  .title {
    font-size: 90px;
  }
  .navegador {
    height: 40px;
    font-size: 20px;
    justify-content: space-evenly;
  }
  .cat-title {
    font-size: 80px;
  }
  .texto-del-cuerpo {
    font-size: 20px;
  }
  .estanteria {
    padding: 0;
  }
  .estanteria h2 {
    font-size: 32px;
  }
  .libro {
    width: 50%;
    margin-top: 70px;
  }
  .libro-principal {
    width: 100%;
  }
  .portada {
    max-width: 350px;
  }
  .libro h3 {
    font-size: 28px;
  }
  .informacion {
    width: 60%;
    max-width: 750px;
  }
  .informacion-del-libro {
    width: 60%;
    max-width: 750px;
  }
  .otras-obras {
    margin-bottom: auto;
  }
  #CaracteristicasTexto {
    padding-left: 60px;
  }
}
